    <!-- <div class="post-top">
        {{category.timestamp | date: 'EEEE M/d HH:mm'}}
    </div> -->

    <!-- style="display: inline-block;" -->
<div class="card" >

    <!--Card image-->
    <!-- <img class="img-fluid" src="{{ category.thumbnailLink }}" alt="Card image cap" style="height: 300px; width: 300px;"> -->
    <div class="view hm-white-slight waves-light" mdbRippleRadius>
        <img (click)="selectCategory(category.category)" src="{{ category.thumbnailLink }}" class="img-fluid" alt="Card image with a tree in a middle of a lake." style="height: 20em; width: 20em;">
        <a>
            <div class="mask"></div>
        </a>
    </div>

    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title"><a (click)="selectCategory(category.category)" class="btn btn-light-blue waves-light" mdbRippleRadius>{{ category.category }}</a></h4>
        <!--Text-->
        <p class="card-text">{{ category.description }}</p>
    </div>
</div>


<!-- <div style="width:100%;">
  <mat-card class="example-card" (click)="selectCategory(category.category)">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{ category.category }} </mat-card-title>
      <mat-card-subtitle> {{ category.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ category.thumbnailLink }}" style="width:150px; height: 150px;" alt="alt">
    <mat-card-content>
      <p>
        {{ category.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div> -->
