<!-- {{ category.category }} -->

<!-- {{ category.description }} -->
<!-- <p style="text-align: center;"> Description: </p> -->

<div class="card z-depth-0 rounded-0 transparent" style="margin: -1.7em auto 1em auto; width: 100%;">

  <div class=row>

  <!-- <div class="" style="margin: 0em 0em 0em 11.2%;">
  <h4 style="margin: .9em 0em -5em 0em;"> {{ pageCategory }} </h4>
  </div> -->

  <div class="card z-depth-0 rounded-0" style="margin: 0% auto 1em auto; width: 100%;">
    <h5 style="margin: 1.7% 0em -10% 12.3%;"> {{ pageCategory }} </h5>
  </div>

  <div class="" style="margin: .5% 0em -5% 78%;">

    <input matInput type="text" id="productSearchFilter" placeholder="search products" style="width: 40%;">
    <!-- <button (click)="addProduct()" class="btn btn-default btn-sm"> Add Product </button> -->
    <button (click)="allCategories()" class="btn btn-default btn-sm z-depth-0"> Return to Categories </button>

  </div>

  </div>

</div>

<div class="container">
  <div class="row">

    <div class="col-2">
      <div class="card card-ecommerce example hoverable">
        <div class="card-body text-center">
          <h4 class="card-title">
            <strong> Filters </strong>
          </h4>
          <!-- <mat-list dense>
            <h3 mat-subheader> Price </h3>
            <mat-list-item>
              <h4 mat-line> Price Range </h4>
                <mat-slider
                  class="example-margin"
                  [max]="max"
                  [min]="min"
                  [step]="step"
                  [thumb-label]="thumbLabel"
                  [tick-interval]="tickInterval"
                  [(ngModel)]="value"
                  [vertical]="vertical">
              </mat-slider>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line> Rating </h4>
              <p mat-line> 1...2... </p>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list> -->
          <div class="card-footer" style="height: 3em; width: 100%;">
            <span class="float-left">
              <span class="discount"></span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-10">
      <div *ngFor="let product of categoriedProducts | async" style="display: inline-block; margin: 0em .5em .5em 0em">
        <app-category-product-card [product]="product" (notify)="onSelectProduct($event)"></app-category-product-card>
      </div>
    </div>

  </div>
</div>


<!--
  <div class="card card-ecommerce example hoverable" (click)="selectProduct(product)">
          <!--Card image
          <div class="view overlay z-depth-1">
              <img src="{{ product.productThumbnailLink }}" class="img-fluid" alt="" style="width:10em; height: 10em; margin: auto; display: block;">
              <a>
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>
          <div class="card-body text-center">
              <h4 class="card-title"><strong></strong></h4>
              <!--Description
              <p class="card-text">
              </p>
              <div class="card-footer" style="height: 3em; width: 100%;">
                  <span class="float-left"> <span class="discount"></span></span>
              </div>
          </div>
      </div>
 -->
