<!-- {{ category.category }} -->

<!-- {{ category.description }} -->
<!-- <p style="text-align: center;"> Description: </p> -->

<div class="container card z-depth-0 rounded-0 transparent" style="margin: 0em auto 1em auto; width: 100%;">

  <div class="row" style="display: flex; flex-direction: row;">

    <!-- <div class="" style="margin: 0em 0em 0em 11.2%;">
    <h4 style="margin: .9em 0em -5em 0em;"> {{ pageCategory }} </h4>
    </div> -->

    <h5 style="margin: 0% 0% 0% 1.5%;"> {{ pageCategory }} </h5>

    <div style="position: absolute; right: 0;">

      <input matInput type="text" id="productSearchFilter" placeholder="search products" style="width: 42%; border: 1px solid rgb(224,224,244); border-radius: 3px; padding: 5px; margin: .4% 2px 0% 0%;">
      <!-- <button (click)="addProduct()" class="btn btn-default btn-sm"> Add Product </button> -->
      <button (click)="allCategories()" class="btn btn-default btn-sm z-depth-0"> Search </button>
      <button (click)="allCategories()" class="btn btn-mdb-color btn-sm z-depth-0" style="margin: 0% 0% 0% -1%;"> Return </button>

    </div>

  </div>

  <div class="row">

    <div class="col-2">
      <div class="card card-ecommerce z-depth-0" style="border: 1px solid rgb(224,224,244); overflow: hidden;">
        <div class="card-body text-center">
          <h4 class="card-title">
            <strong> Filters </strong>
          </h4>
          <!-- <mat-list dense>
            <h3 mat-subheader> Price </h3>
            <mat-list-item>
              <h4 mat-line> Price Range </h4>
                <mat-slider
                  class="example-margin"
                  [max]="max"
                  [min]="min"
                  [step]="step"
                  [thumb-label]="thumbLabel"
                  [tick-interval]="tickInterval"
                  [(ngModel)]="value"
                  [vertical]="vertical">
              </mat-slider>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line> Rating </h4>
              <p mat-line> 1...2... </p>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list> -->
          <div class="card-footer" style="height: 3em; width: 100%;">
            <span class="float-left">
              <span class="discount"></span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-10" style="">
      <div *ngFor="let product of categoriedProducts | async" style="display: inline-block; margin: 0em .5em .5em 0em; max-width: 33.33%; width: 25%">
        <app-category-product-card [product]="product" (notify)="onSelectProduct($event)"></app-category-product-card>
      </div>
    </div>

  </div>
</div>


<!--
  <div class="card card-ecommerce example hoverable" (click)="selectProduct(product)">
          <!--Card image
          <div class="view overlay z-depth-1">
              <img src="{{ product.productThumbnailLink }}" class="img-fluid" alt="" style="width:10em; height: 10em; margin: auto; display: block;">
              <a>
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>
          <div class="card-body text-center">
              <h4 class="card-title"><strong></strong></h4>
              <!--Description
              <p class="card-text">
              </p>
              <div class="card-footer" style="height: 3em; width: 100%;">
                  <span class="float-left"> <span class="discount"></span></span>
              </div>
          </div>
      </div>
 -->
