<div [formGroup]="form">

    <h5><label [attr.for]="question.key" style="">{{question.label}}</label></h5>

    <div [ngSwitch]="question.controlType">

        <input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type">

        <input *ngSwitchCase="'numberbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type">

        <input *ngSwitchCase="'filebox'" [formControlName]="question.key" [id]="question.key" [type]="question.type"
                #fileInput (change)="renderFile($event)">
        <!-- <button *ngSwitchCase="'filebox'" (click)="renderFile()"> add file </button> -->
        <img *ngSwitchCase="'filebox'" [src]="imageUrl" />

        <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
            <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
        </select>

        <!-- class="hidden question__input"  -->
        <input *ngSwitchCase="'checkbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type"
                [name]="question.name"
                [value]="question.value" >

        <!-- TODO: make abstract group below as array ... handle arbitrary material type  -->
        <div *ngSwitchCase="'checkbox-group'">
            <div [formArrayName]="question.key" style="display:flex">
                    <!-- <label [attr.for]="question.key">{{question?.label}}</label>  -->
                    <!-- [type]="item.type" -->
                    <mat-checkbox *ngFor="let item of question.options; let i=index" [formControlName]="i" 
                                    [id]="item.key" [value]="item.value" > 
                            {{item.value}} 
                    </mat-checkbox>
            </div>
        </div>

        <div *ngSwitchCase="'array'" [formArrayName]="question.key">
            <div *ngFor="let item of question.options; let i=index" [formGroupName]="i">
                <div *ngFor="let element of item.element">
                    <div *ngIf="element.controlType === 'textbox'">
                        <label>{{element.label}}</label>
                        <input [formControlName]="element.key" [id]="element.key" [type]="element.type" />
                    </div>
                    <div *ngIf="element.controlType === 'dropdown'">
                        <label>{{item.label}}</label>
                        <select [id]="element.key" [formControlName]="element.key">
                            <option *ngFor="let opt of element.options" [value]="opt.key">{{opt.value}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h6 class="errorMessage" style="color: red;" *ngIf="!isValid">Required</h6>

</div>

<hr>
