
<div class="card" *ngFor="let group of transactionGroups; index as i" [attr.data-index]="i" style="margin: auto; width: 80%;">
    <div>
      <div>
          <p> Transaction Group: {{ i + 1 }}  </p>
          <p> Transaction ID: {{ group?.transactionGroupID }}  </p>
          <p> Seller Public Key: {{ group?.sellerPublicKey }}  </p>
          <hr>
      </div>
      <div *ngFor="let transRecord of group.transactionRecords; index as j" [attr.data-index]="j">
          <!-- TODO: image??? -->
          <!-- <img [src]="transRecord?.productName" /> -->
          <p> Transaction Number: {{ j + 1 }}  </p>
          <p> Transaction ID: {{ transRecord?.transactionID }}  </p>
          <p> Product Name: {{ transRecord?.productName }}  </p>
          <p> Product Description: {{ transRecord?.productShortDescription }}  </p>
          <p> Product ID: {{ transRecord?.productID }}  </p>
          <p> Quantity: {{ transRecord?.quantityPurchased }}  </p>
          <p> Memo:  {{ transRecord?.memo  }}  </p>
          <p> USD Amount:  ${{ transRecord?.fixedUSDAmount | json }}  </p>
          <p> Assets Transferred: {{ transRecord?.assetPurchaseDetails | json }}  </p>
          <hr>
      </div>
    </div>
  <br />
</div>
