
<div class="col-md-5" style="margin: auto;">
  <button class="btn btn-outline-mdb-color btn-sm z-depth-0" (click)="returnToCart()" style="border: 1px solid rgb(84,85,125);"> Return </button>
</div>

<mat-vertical-stepper class="col-md-5" style="border: 1px solid rgb(224,224,244); border-radius: 3px; margin: auto;" [linear]="true" #stepper="matVerticalStepper">
    <!-- Step One -->
    <mat-step [stepControl]="firstFormGroup" #stepOne editable="false">
        <ng-template matStepLabel> Review Purchase Details </ng-template>
        <div style="" >
            <div *ngFor="let product of checkoutItemsSource | async">
                <div class="card z-depth-0" style="padding: 10px; border: 1px solid rgb(224,224,244); border-radius: 3px; max-width: 90%;margin: 10px 0px 0px 0px;">
                    <img src="{{ cartItem?.productThumbnailLink }}" alt="alt" style="max-width: 100px; max-height: 100px; width: 100px; height: 100px; border-radius: 100%; background-color: rgb(244,244,244); margin: auto;">

                    <h5 style="margin: 20px 0px 0px 0px; text-align: center;"> {{ product.productName }} </h5>
                    <hr>

                    <!-- <p> Fixed USD Amount ($): {{ product.fixedUSDAmount }} </p> -->

                    <p> Quantity: {{ product.quantityPurchased }} </p>

                    <p> Price: {{ product.assetPricePerItem }} {{ product.assetPurchaseDetails.asset_type
                        }} (${{ product.fixedUSDAmount }}) </p>

                    <p> Total: {{ product.assetPurchaseDetails.balance }} {{ product.assetPurchaseDetails.asset_type
                    }} </p>
                </div>
            </div>
            <div style="display: inline-block; width: 90%;">
              <hr style="">
              <form [formGroup]="firstFormGroup">
                  <!-- (change)="checkItem()" -->
                  <mat-checkbox formControlName="firstCtrl" [hidden]="firstFormGroup.valid"> Items Correct? </mat-checkbox>
                  <!-- <button mat-button [disabled]="!hasItems" (click)="updateStep(stepper.selectedIndex)" matStepperNext> -->
                  <!-- [disabled]="!firstFormGroup.valid" -->
                  <button class="btn btn-outline-primary btn-sm z-depth-0" [hidden]="!firstFormGroup.valid" (click)="updateStep(stepper.selectedIndex)" matStepperNext>
                      Proceed
                  </button>
              </form>
            </div>
        </div>
    </mat-step>
    <!-- End Step One -->
    <!-- Step Two -->
    <mat-step [stepControl]="secondFormGroup" #stepTwo editable="false">
        <div>
            <ng-template matStepLabel> Confirm Secret Key </ng-template>
            <form [formGroup]="secondFormGroup">

                <input type="password" class="form-control"
                matInput placeholder="Secret Key" id="outSecretKey" #checkoutSecretKey
                formControlName="secondCtrl"
                style="width: 65%; border: 1px solid rgb(224,224,244); border-top: 1px solid rgb(224,224,244); border-radius: 3px; padding: 10px; margin: 10px; background-color: rgb(244,244,244);">
                <!-- <div *ngIf="secondCtrl.errors.minlength">
                        Secret key must be 56 characters long.
                </div> -->
                <mat-hint align="end" style="margin: 0px 0px 0px 10px;"><small>Characters: {{checkoutSecretKey.value?.length || 0}}/56</small></mat-hint>

            </form>
            <button class="btn btn-outline-primary btn-sm z-depth-0" (click)="validateCheckoutSecretKey(checkoutSecretKey.value, stepper)"> Validate Key </button>
        </div>
    </mat-step>
    <!-- End Step Two -->
    <!-- Step Three -->
    <mat-step #stepThree editable="false" [stepControl]="thirdFormGroup">
        <!-- (click)="$event.preventDefault(); alert('jkk');" -->
        <ng-template matStepLabel> Submit Transaction </ng-template>
        <div class="col-md-12">
            <form [formGroup]="thirdFormGroup">
                <div class="row" style="display: block;">
                    <div class="col-md-12" [hidden]="calBalBtnBool">
                        <!-- <h6>Current Wallet Balance(s)</h6>
                        <hr> -->
                        <div *ngFor="let balance of balances; index as i" [attr.data-index]="i">
                            <div class="card z-depth-0">
                              <h6><strong>Current Wallet Balance(s)</strong></h6>
                                <p>{{ balance.balance }} {{ balance.asset_type }} </p>
                            </div>
                        </div>
                        <hr>

                        <button [class.disabled]="calBalBtnBool" class="btn btn-outline-mdb-color btn-sm z-depth-0"
                                (click)="calculateFundsForPurchase(stepper.selectedIndex); calBalBtnBool = true" value="calcBal">
                            Final Balance
                        </button>
                    </div>
                    <div class="col-md-12" [hidden]="!calBalBtnBool">
                        <!-- <h6>New Wallet Balance(s):</h6> -->
                        <!-- <hr> -->
                        <div *ngFor="let balance of updatedBalances; index as i" [attr.data-index]="i">
                            <div class="card z-depth-0">
                              <h6><strong>New Wallet Balance(s):</strong></h6>
                                <p>{{ balance.balance }} {{ balance.asset_type }} </p>
                            </div>
                        </div>
                        <hr>
                        <button [class.disabled]="valBalBtnBool || !calBalBtnBool" [hidden]="valBalBtnBool || !calBalBtnBool" class="btn btn-outline-mdb-color btn-sm z-depth-0"
                                (click)="validateFundsForPurchase(stepper.selectedIndex); valBalBtnBool = true">
                            Confirm
                        </button>
                    </div>
                    <div class="col-md-12" style="" [hidden]="cnfPurBtnBool || !valBalBtnBool">
                        <!-- <p style="color: red;"> Don't reload page</p> -->
                        <!-- TODO: LOADING -->
                        <mat-checkbox visible="false" hidden="hidden"  formControlName="thirdCtrlFirst"> </mat-checkbox>

                        <button class="primary" [hidden]="cnfPurBtnBool || !valBalBtnBool" [class.disabled]="cnfPurBtnBool || !valBalBtnBool"
                            (click)="completePurchase(stepper); cnfPurBtnBool = true" class="btn btn-primary btn-sm z-depth-0"> Submit Transaction</button>
                            <p style="color: red;"><small><i> Don't reload page while transaction processes.</i></small></p>

                    </div>
                    <div class="loader" [hidden]="!cnfPurBtnBool"></div>
                </div>
            </form>
        </div>
    </mat-step>
    <!-- End Step Three -->
    <mat-step editable="false" #stepFour>
        <ng-template matStepLabel> Receipt </ng-template>
        <h3 > You are now done. Thanks for shopping!</h3>
        <p > Below is your order receipt</p>
        <div>
            <button class="btn btn-primary z-depth-0" (click)="returnHome()"> Return Home </button>
            <button class="btn btn-primary z-depth-0" (click)="checkoutLogout()"> Logout </button>
        </div>
    </mat-step>
</mat-vertical-stepper>
