<button (click)="returnToCart()"> Return to Cart </button>


<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
    <!-- Step One -->
    <mat-step [stepControl]="firstFormGroup" #stepOne editable="false">
        <ng-template matStepLabel> Review product details </ng-template>
        <div>
            <mat-card *ngFor="let product of checkoutItemsSource | async">
                <img mat-card-image src="{{ cartItem?.productThumbnailLink }}" alt="alt">
                <mat-card-content>
                    <p> Product Name: {{ product.productName }} </p>
                    <p> Fixed USD Amount ($): {{ product.fixedUSDAmount }} </p>
                    <p> Quantity: {{ product.quantityPurchased }} </p>
                    <p> Current Asset Value: {{ product.assetPricePerItem }} </p>
                    <p> Total Asset Value: {{ product.assetPurchaseDetails.balance }} {{ product.assetPurchaseDetails.asset_type
                        }} </p>
                </mat-card-content>
            </mat-card>
            <form [formGroup]="firstFormGroup">
                <!-- (change)="checkItem()" -->
                <mat-checkbox formControlName="firstCtrl"> Confirm </mat-checkbox>
                <!-- <button mat-button [disabled]="!hasItems" (click)="updateStep(stepper.selectedIndex)" matStepperNext> -->
                <button mat-button [disabled]="!firstFormGroup.valid" (click)="updateStep(stepper.selectedIndex)" matStepperNext>
                    Next
                </button>
            </form>
        </div>
    </mat-step>
    <!-- End Step One -->
    <!-- Step Two -->
    <mat-step [stepControl]="secondFormGroup" #stepTwo editable="false">
        <div>
            <ng-template matStepLabel> Confirm secret key </ng-template>
            <form [formGroup]="secondFormGroup">
                <mat-form-field hintLabel="must be 56 characters">
                    <input type="password" class="form-control" matInput placeholder="Secret Key" id="checkoutSecretKey" #checkoutSecretKey formControlName="secondCtrl">
                    <!-- <div *ngIf="secondCtrl.errors.minlength">
                            Secret key must be 56 characters long.
                    </div> -->
                    <mat-hint align="end">{{checkoutSecretKey.value?.length || 0}}/56</mat-hint>
                </mat-form-field>
            </form>
            <button mat-button (click)="validateCheckoutSecretKey(checkoutSecretKey.value, stepper)"> Validate Key </button>
        </div>
    </mat-step>
    <!-- End Step Two -->
    <!-- Step Three -->
    <mat-step #stepThree editable="false" [stepControl]="thirdFormGroup">
        <!-- (click)="$event.preventDefault(); alert('jkk');" -->
        <ng-template matStepLabel> Validate Funds </ng-template>
        <div class="col-md-12">
            <form [formGroup]="thirdFormGroup">
                <div class="row">
                    <div class="col-md-5">
                        Your Asset Totals Before:
                        <mat-card *ngFor="let balance of balances; index as i" [attr.data-index]="i">
                            <mat-card-content>
                                <p> Asset {{ i + 1 }}: {{ balance.balance }} {{ balance.asset_type }} </p>
                            </mat-card-content>
                        </mat-card>
                        <button [class.disabled]="calBalBtnBool" [disabled]="calBalBtnBool" mat-button
                                (click)="calculateFundsForPurchase(stepper.selectedIndex); calBalBtnBool = true" value="calcBal">
                            Calculate new balances 
                        </button>
                    </div>
                    <div class="col-md-5">
                        Your Asset Totals After
                        <mat-card *ngFor="let balance of updatedBalances; index as i" [attr.data-index]="i">
                            <mat-card-content>
                                <p> Asset {{ i + 1 }}: {{ balance.balance }} {{ balance.asset_type }} </p>
                            </mat-card-content>
                        </mat-card>
                        <button [class.disabled]="valBalBtnBool || !calBalBtnBool" [disabled]="valBalBtnBool || !calBalBtnBool" mat-button 
                                (click)="validateFundsForPurchase(stepper.selectedIndex); valBalBtnBool = true">
                            Validate Funds 
                        </button>
                    </div>
                    <div class="col-md-2" style="display:flex">
                        <p style="color: red;"> Please do not reload the page during the payment </p>
                        <!-- TODO: LOADING -->
                        <p style="color: red;"> TODO - I AM A LOADING INDICATOR </p>
                        <mat-checkbox visible="false" hidden="hidden"  formControlName="thirdCtrlFirst"> </mat-checkbox>
                        <button class="primary" [disabled]="cnfPurBtnBool || !valBalBtnBool" [class.disabled]="cnfPurBtnBool || !valBalBtnBool"
                            (click)="completePurchase(stepper); cnfPurBtnBool = true" mat-button> Confirm Purchase</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-step>
    <!-- End Step Three -->
    <mat-step editable="false" #stepFour>
        <ng-template matStepLabel> Confirm </ng-template>
        <h3 > You are now done. Thanks for shopping!</h3>
        <p > Below is your order receipt</p>
        <div>
            <button mat-button (click)="returnHome()"> Return Home </button>
            <button mat-button (click)="checkoutLogout()"> Logout </button>
        </div>
    </mat-step>
</mat-horizontal-stepper>