<!-- <div mat-card-avatar class="example-header-image"></div> -->
<div class="card z-depth-0" style="display: flex; flex-direction: row; align-items: center;">

  <div class="col-12 col-md-2" style="display: block; margin: auto; padding: 1em;">
    <img src="{{ cartItem?.productThumbnailLink }}" style="max-width: 100%; max-height: 100%;" alt="alt">
  </div>

  <div class="col-md-4" style="display: flex; flex-direction: row;">

    <div style="width: 40%; max-height: 100%;">
      <p style="text-align: left;"> {{ cartItem?.productName }} </p>
    </div>
    <!-- <p> {{ cartItem?.productID }} </p>
    <p> {{ cartItem?.cartItemID }} </p> -->
    <div style="width: 30%; max-height: 100%">
      <p class="offset-2" style="text-align: left;">{{ cartItem?.quantityPurchased }}</p>
    </div>
    <div style="width: 30%; max-height: 100%">
      <p class="offset-1" style="text-align: left;">{{ cartItem?.assetPurchaseDetails.balance }} {{ cartItem?.assetPurchaseDetails.asset_type }}</p>
    </div>
    <!-- <p> {{ cartItem?.description }} </p> -->
  </div>

  <div class="offset-1 col-md-5" style="margin: 0em -2.5em 0em 0em;">
    <button (click)="purchaseItem(cartItem.cartItemID)" class="btn btn-primary btn-sm z-depth-0"> Purchase </button>
    <button (click)="editItem(cartItem)" class="btn btn-blue-grey btn-sm z-depth-0"> Edit </button>
    <button (click)="removeItem(cartItem.cartItemID)" class="btn btn-mdb-color btn-sm z-depth-0"> Remove </button>
    <mat-checkbox (change)="checkItem(cartItem.cartItemID)" style="margin: 0em 0em 0em 63%;">Select</mat-checkbox>
  </div>

</div>
