<!-- <div mat-card-avatar class="example-header-image"></div> -->
<div class="card z-depth-0" style="display: flex; flex-direction: row; align-items: center;">

  <div class="col-md-4" style="display: flex; flex-direction: row;">

      <p style="text-align: left;"> {{ chatMessage | json }} </p>
    
      <!-- <div style="width: 40%; max-height: 100%;">
        <p style="text-align: left;"> {{ chatMessage?.sender }} </p>
      </div>
      <div style="width: 30%; max-height: 100%">
        <p class="offset-2" style="text-align: left;">{{ cartItem?.quantityPurchased }}</p>
      </div>
      <div style="width: 30%; max-height: 100%">
        <p class="offset-1" style="text-align: left;">{{ cartItem?.assetPurchaseDetails.balance }} {{ cartItem?.assetPurchaseDetails.asset_type }}</p>
      </div>
    </div> -->
  
    <div class="offset-1 col-md-5" style="margin: 0em -2.5em 0em 0em;">
      <button (click)="readMessage()" class="btn btn-primary btn-sm z-depth-0"> Mark Read </button>
    </div>
  
  </div>
  