<div class="card z-depth-0 rounded-0 transparent" style="margin: -1% auto 1em auto; width: 100%;">
  <h5 style="margin: .3em 0em 0em 11%;"> Recommended Categories </h5>
</div>

<!-- | async -->

<div style="text-align:center; width: 90%; margin: auto;">
    <div *ngFor="let category of _categories" style="display: inline-block; cursor: pointer; width: 20%" id="indCategory">
        <app-category-card [category]="category" (notify)="onSelectCategory($event)"></app-category-card>
    </div>
</div>
