/* .demo-menu {
    display: flex;
    flex-flow: row wrap;
} */

/* .menu-section {
    width: 300px;
    margin: 20px;
} */

/* .end-icon {
    align-items: flex-end;
} */


.mat-toolbar {
    /* background: #004f04; */
}

.main-nav {
    background-color: #59698d;
    /* border-bottom: .08em solid #cCcCcC; */
    /* display:flex;
    flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 1;
    width: 100%  !important;
    /* fxLayoutAlign="space-around center" */
}

.main-nav-button {
    background-color: #59698d;
    padding: 0 4 0 4em;
    margin: 0 4 0 4em;
    box-shadow: none;
}

.example-fill-remaining-space {
    /*
        This fills the remaining space, by using flexbox.
        Every toolbar row uses a flexbox row layout.
    */
    flex: 1 1 auto;
}

.nav-spacing {
    margin-bottom: 3em;
}

button {
    color: white;
    height: 2.5em;
    font-family: 'Kanit', sans-serif;
    font-size: .8em;
}

/* .bottom-nav {
    position: fixed !important;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background-color: #146eb4;
    font-family: 'Roboto', sans-serif;
    border-top: 8px solid #004f04;
    color: white;
} */

#posts {
    text-decoration: underline;
}

@media only screen and (min-width:440px) {
    .bottom-nav {
        display: none;
    }
}

@media only screen and (max-width: 440px) {
    .main-nav {
        display: none;
    }
    .navbar {
        display: none;
    }
    button {
        width:32%;
        font-family: Arial, Helvetica, sans-serif;
        /* font-size: 20px; */
    }
}
