<!-- <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script> -->

    <!-- style="position: fixed;"" -->
<div style="margin: 5em 0em 0em 0em;">
<div class="container">
    <mat-sidenav-container style="height:100%;width:100%;">
        <mat-sidenav #sidenav mode="over" align="end" class="app-sidenav" style="align-items: center; justify-content: center; overflow: hidden; position: fixed !important; width: 100%;">
            <!-- <mat-card style="min-width: 60%; display:inline-flex;">
                <h3 style="margin-right: 10 px; margin-bottom: 10 px; padding-right: 10 px; padding-bottom: 10 px;"> Login with secret key </h3>
                <input #secretKeyLogin matInput type="text" placeholder="secret key" autofocus style="margin-left: 10 px; margin-bottom: 10 px; padding-left: 10 px; padding-bottom: 10 px;"
                />
                <button (click)="login(secretKeyLogin.value); secretKeyLogin.value = null;" style="color:black">Login</button>
                <button (click)="sidenav.toggle(); secretKeyLogin.value = null;" style="color:black">Close</button>
                <br />
            </mat-card> -->
            <div style="margin: 5% auto 0% auto; width: 50%; height: 20%; text-align: center;">
              <img style="max-width:100%; max-height: 100%" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
              <h2>Interstellar</h2>
            </div>

            <div class="card z-depth-0" style="margin: 5% auto 5% auto; padding: 5% 5% 5% 5%; width: 90%; max-height: 40%;">

              <div style="width: 55%; margin: auto;">
                <h6> Stellar Wallet Secret Key: </h6>
                <input #secretKeyLogin matInput type="text" style="width: 100%; margin: 0% auto 1% auto;" placeholder="Key" autofocus />
                <div style="display: flex; flex-direction: row;">
                  <button (click)="login(secretKeyLogin.value); secretKeyLogin.value = null;" class="btn btn-primary">Login</button>
                  <button (click)="sidenav.toggle(); secretKeyLogin.value = null;" class="btn z-depth-0" style="background-color: gray;">Close</button>
                </div>
              </div>

            </div>
        </mat-sidenav>
        <mat-sidenav-content flex>

            <mat-toolbar class="main-nav" flex>
              <img style="width: 10%; height: 100%; margin: 0em 0em 0em -1%;" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

                <button mat-button id="home" [routerLink]="['/home']" (click)="changePage('home')" routerLinkActive="active" style="padding: .5% 1% 0% 1%;">
                  <i class="fa fa-home">
                      Home
                  </i>
                </button>
                <!-- *ngIf="loggedIn"   [routerLink]="['/profile', user.uid]"   -->
                <!-- <button [style.display]="!loggedIn?'none':'inherit'" mat-button id="profile" [routerLink]="['/profile']" (click)="changePage('profile')"
                    routerLinkActive="active" class="main-nav-button">
                    Profile
                </button> -->
                <button mat-button id="categories" (click)="changePage('categories')" [routerLink]="['/categories']" routerLinkActive="active" style="padding: .5% 1% 0% 1%;">
                  <i class="fa fa-map-signs">
                      Categories
                  </i>
                </button>

                <button mat-button id="products" (click)="changePage('products')" [routerLink]="['/products']" routerLinkActive="active" style="padding: .5% 1% 0% 1%;">
                  <i class="fa fa-bars">
                      Products
                  </i>
                </button>

                <span class="example-fill-remaining-space"></span>
                <div style="float:right;">
                    <!-- (click)="toggle(sidenav)" -->
                    <div *ngIf="loggedIn" style="display: flex; flex-direction: row; padding: 2% 0% 0% 0%">

                      <button mat-button id="cart" [routerLink]="['/cart']" (click)="changePage('cart')" routerLinkActive="active" style="padding: 1% 0% 0% 0%;">
                        <i class="fa fa-shopping-cart" style="color: white;">
                          Cart {{ cartItemCount }}
                        </i>
                      </button>

                      <button mat-button [style.display]="!loggedIn ? 'none' : 'inherit' " 
                                id="profile" [routerLink]="['/profile']" (click)="changePage('profile')"
                                routerLinkActive="active" style="padding: 1% 0% 0% 5%;">
                            <i class="fa fa-user" style="color: white;">
                                Profile
                            </i>
                      </button>

                      <button mat-button (click)="logout()" style="padding: 1% 0% 0% 0%;">
                        <i class="fa fa-sign-out">
                            Logout
                        </i>
                      </button>

                    </div>
                    <div *ngIf="!loggedIn" style="padding: 2% 0% 0% 0%;">

                      <button mat-button id="register" [routerLink]="['/register']" (click)="changePage('register')" routerLinkActive="active" style="padding: 1% 0% 0% 0%;">
                        <i class="fa fa-money">
                            Signup
                        </i>
                      </button>
                        <!-- BETTER TEMPLATING!!!! -->
                      <button mat-button *ngIf="!loggedIn" (click)="sidenav.toggle()" style="padding: 1% 0% 0% 0%;">
                        <i class="fa fa-sign-in">
                            Login
                        </i>
                      </button>

                    </div>
                    <!-- <button mat-raised-button class="main-nav-button">
                <span (click)="toggle(sidenav)" *ngIf="!loggedIn; else logswitch"> Login </span>
                <ng-template #logswitch> <span (click)="logout()"> Logout </span> </ng-template>
            </button> -->
                </div>
            </mat-toolbar>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>
</div>
        <!-- <md-sidenav-layout> -->
        <!-- </md-sidenav-layout> -->

<!-- <mat-sidenav-layout mode="over">  -->
<!-- right: 10%; -->
<!-- </mat-sidenav-layout> -->
