<!-- style="position: fixed;"" -->
<div style="margin: 5em 0em 0em 0em;" flex>

    <mat-sidenav-container style="height:100%;width:100%;" flex>
        <!-- Signup Side Nav -->
        <mat-sidenav #sidenavSignUp mode="over" posiion="start" style="align-items: center; justify-content: center; overflow: hidden; position: fixed !important; width: 100%;">
            <!-- <div style="margin: 5% auto 0% auto; width: 50%; height: 20%; text-align: center;">
                <img style="max-width:100%; max-height: 100%" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
                <h2>Interstellar</h2>
            </div>

            <div class="card z-depth-0 transparent" style="margin: 5% auto 5% auto; padding: 5% 5% 5% 5%; width: 90%; max-height: 40%;">

                <div style="width: 52%; margin: auto;">

                    <h5> Get Started: </h5>
                    <button (click)="createAccount()" class="btn btn-primary">Create New Account</button>

                    <h6 style="margin: 3% 0% 0% 0%;"> Or: </h6>
                    <input matInput #accountMerge type="password" placeholder="Key" style="width: 100%; margin: 0% auto 1% auto;" />
                    <div style="display: flex; flex-direction: row;">
                        <button (click)="mergeAccountWithKey(accountMerge.value); accountMerge.value = null;" class="btn z-depth-0" style="background-color: gray;">Merge Existing Account</button>
                        <button (click)="sidenav2.toggle(); secretKeyLogin.value = null;" class="btn z-depth-0" style="background-color: gray;">Close</button>

                    </div>
                </div>
            </div> -->
            <app-register></app-register>

        </mat-sidenav>
        <!-- End Signup Side Nav -->

        <!-- Login Side Nav -->
        <mat-sidenav #sidenavLogin mode="over" position="end" class="app-sidenav" style="align-items: center; justify-content: center; overflow: hidden; position: fixed !important; width: 100%;">
            <div style="margin: 5% auto 0% auto; width: 50%; height: 20%; text-align: center;">
                <img style="max-width:100%; max-height: 100%" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
                <h2>Interstellar</h2>
            </div>

            <div class="card z-depth-0 transparent" style="margin: 5% auto 5% auto; padding: 5% 5% 5% 5%; width: 90%; max-height: 40%;">

                <div style="width: 52%; margin: auto;">
                    <h6> Stellar Wallet Secret Key: </h6>
                    <input #secretKeyLogin matInput type="password" style="width: 100%; margin: 0% auto 1% auto;" placeholder="Key" autofocus/>
                    <div style="display: flex; flex-direction: row;">
                        <button (click)="login(secretKeyLogin.value); secretKeyLogin.value = null;" class="btn btn-primary z-depth-0" style="max-height: 35px;">Login</button>
                        <button (click)="sidenavLogin.toggle(); secretKeyLogin.value = null;" class="btn z-depth-0" style="background-color: gray; max-height: 35px;">Close</button>
                    </div>
                </div>
            </div>

        </mat-sidenav>
        <!-- End Login Side Nav -->

        <!-- Main Nav -->
        <mat-sidenav-content flex>

            <mat-toolbar class="main-nav" flex>
                <img style="width: 10%; height: 100%; margin: 0em 0em 0em -1%;" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
                <button id="home" class="mainNavBut" [routerLink]="['/home']" (click)="changePage('home')" routerLinkActive="active" style="padding: 0% 1% 0% 1%;">
                    <i class="fa fa-home">
                        Home
                    </i>
                </button>
                <button id="categories" class="mainNavBut" (click)="changePage('categories')" [routerLink]="['/categories']" routerLinkActive="active"
                    style="padding: 0% 1% 0% 1%;">
                    <i class="fa fa-map-signs">
                        Categories
                    </i>
                </button>
                <button id="products" class="mainNavBut" (click)="changePage('products')" [routerLink]="['/products']" routerLinkActive="active"
                    style="padding: 0% 1% 0% 1%;">
                    <i class="fa fa-bars">
                        Products
                    </i>
                </button>
                <button id="people" class="mainNavBut" (click)="changePage('people')" [routerLink]="['/people']" routerLinkActive="active" style="padding: 0% 1% 0% 1%;">
                    <i class="fa fa-users">
                        People
                    </i>
                </button>
                <span class="example-fill-remaining-space"></span>
                <span *ngIf="loggedIn; then isLoggedIn; else notLoggedIn"> </span>
                <!-- <div *ngIf="loggedIn" style="display: flex; flex-direction: row; padding: 0% 0% 0% 0%"> -->

                    <ng-template #isLoggedIn style="display: flex; flex-direction: row;">
                        <button class="mainNavBut" [matMenuTriggerFor]="menu" style="display: flex; width: 40px;">
                            <p style="margin: 0px 0px 10px 0px;"></p>
                            <mat-icon style="margin: 3px 0px 0px 0px; width: 35px;">more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item id="profile" [style.display]="!loggedIn ? 'none' : 'inherit'" (click)="changePage('profile')"
                                    routerLinkActive="active" style="">
                                <mat-icon>face</mat-icon>
                                <i class="" style="color: black;">
                                        Profile
                                </i>
                            </button>
                            <button mat-menu-item id="chat" [routerLink]="['/cart']" (click)="changePage('cart')"
                                    routerLinkActive="active" style="">
                                <mat-icon>shopping_cart</mat-icon>
                                <i class="" style="color: black;">
                                        Cart {{ cartItemCount }}
                                </i>
                            </button>
                            <button mat-menu-item id="chat" [routerLink]="['/chat']" (click)="changePage('chat')"
                                    routerLinkActive="active" style="">
                                <mat-icon>chat</mat-icon>
                                <i class="" style="color: black;">
                                    Chat
                                </i>
                            </button>
                            <!-- <button mat-menu-item id="chat" [routerLink]="['/cart']" (click)="changePage('cart')"
                                    routerLinkActive="active" style="">
                                <mat-icon>shopping_cart</mat-icon>
                                <i class="" style="color: black;">
                                        Cart {{ cartItemCount }}
                                </i>
                            </button> -->
                            <!-- <button mat-menu-item id="profile" [style.display]="!loggedIn ? 'none' : 'inherit'" (click)="changePage('profile')"
                                    routerLinkActive="active" style="">
                                <mat-icon>face</mat-icon>
                                <i class="" style="color: black;">
                                        Profile
                                </i>
                            </button> -->
                            <button mat-menu-item id="logoutButton" (click)="logout()" style="border-top: 1px solid rgb(230,230,230)">
                                <mat-icon>highlight_off</mat-icon>
                                <i class="" style="color: black;">
                                    Logout
                                </i>
                            </button>
                        </mat-menu>
                        <!-- <div *ngIf="loggedIn" style="display: flex; flex-direction: row; padding: 0% 0% 0% 0%">
                            <button mat-button id="chat" [routerLink]="['/chat']" (click)="changePage('chat')" routerLinkActive="active" style="padding: 1% 0% 0% 0%; height: 3.5em;">
                                <i class="fa fa-comments" style="color: white;">
                                    Chat
                                </i>
                            </button>
                            <button mat-button id="cart" [routerLink]="['/cart']" (click)="changePage('cart')" routerLinkActive="active" style="padding: 1% 0% 0% 0%; height: 3.5em;">
                                <i class="fa fa-shopping-cart" style="color: white;">
                                    Cart {{ cartItemCount }}
                                </i>
                            </button>
                            <button mat-button [style.display]="!loggedIn ? 'none' : 'inherit' " id="profile" (click)="changePage('profile')" routerLinkActive="active"
                                style="padding: 1% 0% 0% 5%; height: 3.5em;">
                                <i class="fa fa-user" style="color: white;">
                                    Profile
                                </i>
                            </button>
                            <button mat-button (click)="logout()" style="padding: 1% 0% 0% 0%; height: 3.5em;">
                                <i class="fa fa-sign-out">
                                    Logout
                                </i>
                            </button>
                        </div> -->
                    </ng-template>
                <!-- </div> -->

                <ng-template #notLoggedIn style="float:right;">
                    <div *ngIf="!loggedIn" style="padding: 0% 0% 0% 0%;">
                        <button id="register" class="mainNavBut" (click)="sidenavSignUp.toggle()" style="">
                            <!-- (click)="changePage('register')"  [routerLink]="['/register']" routerLinkActive="active" -->
                            <i class="fa fa-money">
                                Signup
                            </i>
                        </button>
                        <button *ngIf="!loggedIn" class="mainNavBut" (click)="sidenavLogin.toggle()" style="">
                            <i class="fa fa-sign-in">
                                Login
                            </i>
                        </button>
                    </div>
                </ng-template>
                <!-- <button mat-raised-button class="main-nav-button">
                <span (click)="toggle(sidenav)" *ngIf="!loggedIn; else logswitch"> Login </span>
                <ng-template #logswitch> <span (click)="logout()"> Logout </span> </ng-template>
            </button> -->
            </mat-toolbar>
        </mat-sidenav-content>
        <!-- End Main Nav -->
    </mat-sidenav-container>
</div>
