.demo-menu {
    display: flex;
    flex-flow: row wrap;
}

.menu-section {
    width: 300px;
    margin: 20px;
}

.end-icon {
    align-items: flex-end;
}

.navbar {
    background-color: #005005;
    /* border-top: 8px solid #005005;  */
}

.mat-toolbar {
    background: #004f04;
}

.main-nav {
    /*
    background-color: #60ac5d;
    border-top: 8px solid #005005;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    */
    /* fxLayoutAlign="space-around center"> */
}

.main-nav-button {
    background-color: #004704;
    padding: 0 4 0 4px;
    margin: 0 4 0 4px;
}

.example-fill-remaining-space {
    /*
        This fills the remaining space, by using flexbox. 
        Every toolbar row uses a flexbox row layout.
    */
    flex: 1 1 auto;
}
  
.nav-spacing {
    margin-bottom: 50px;
}

button {
    color: white;
    height: 60px;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
}

.bottom-nav {
    position: fixed !important;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background-color: #2e7c31;
    font-family: 'Roboto', sans-serif;
    border-top: 8px solid #004f04;
    color: white;
}

#posts {
    text-decoration: underline;
}

@media only screen and (min-width:440px) {
    .bottom-nav {
        display: none;
    }
}

@media only screen and (max-width: 440px) {
    .main-nav {
        display: none;
    }
    .navbar {
        display: none;
    }
    button {
        width:32%;
        font-family: Arial, Helvetica, sans-serif;
        /* font-size: 20px; */
    }
}
