

<div class="card col-12 row hoverable" style="cursor: pointer; height: 3em; margin: .5% 0% 0% 0%; padding: 1%; width: 100%; display: flex; flex-direction: row; overflow: hidden;" (click)="selectChat(chatThread.chatThreadID)">
    <div class="col-2" style="height: 100%;">
      <img src="{{_userModel?.photoUrl}}" alt="Image Here" style="border-radius: 50%; max-height: 100%; max-width: 100%;" />
    </div>
    <div class="col-10" style="">
      <p>{{ chatThread.receiverFbID }}</p>
    </div>
</div>
