
<!-- <mat-card (click)="selectProduct(product)">
  <div>
    <img mat-card-image src="{{ product.productThumbnailLink }}" style="width:10em; height: 10em; margin: auto; display: block;"
      alt="alt">
  </div>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> Product name: {{ product.productName }} </mat-card-title>
    <mat-card-subtitle> Price ${{ product.fixedUSDAmount }} </mat-card-subtitle>
    <mat-card-subtitle> Quantity: {{ product.quantity }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p> Short Desctipton: {{ product.productShortDescription }} </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->

<!--Card-->
<div class="card card-ecommerce example hoverable" (click)="selectProduct(product)">



    <!--Card image-->
    <div class="view overlay z-depth-1">
        <img src="{{ product.productThumbnailLink }}" class="img-fluid" alt="" style="width:10em; height: 10em; margin: auto; display: block;">
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Category & Title-->
        <h4 class="card-title"><strong>{{ product.productName }}</strong></h4>

        <!--Description-->
        <p class="card-text">{{ product.productShortDescription }}
        </p>

        <!--Card footer-->
        <div class="card-footer" style="height: 3em; width: 100%;">
            <span class="float-left">Price ${{ product.fixedUSDAmount }} <span class="discount">Quantity: {{ product.quantity }}</span></span>
        </div>
    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->
