<!-- <label> Publlic key {{ pubKey }}</label> -->

<!--Section: Testimonials v.1-->

<!--Grid column-->

<div class="col-12 col-md-9" style="margin: auto;">

    <!--Card-->
    <div class="card testimonial-card z-depth-0">


        <!--Background color-->
        <div class="card-up info-color"></div>

        <!--Avatar-->
        <!-- <div class="avatar mx-auto white">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-fluid">
        </div> -->

        <div class="card-body">

            <div style="background-color: white;" class="card">

                <h4 class="font-weight-bold py-5" style="text-align: center; margin: 0em 0em -.5em 0em;">Merchant Profile</h4>

                <div class="container">

                    <div class="row">

                        <div style="margin: auto; display: flex; flex-direction: row; align-items: middle;">


                            <div class="profile-image" style="background-color: grey; width: 15em; height: 15em; margin: 0em 5% 5% 13%;">
                                <img class="main-profile-pic" style="width: 15em; height: 15em;" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png" alt="" />
                            </div>
                            <div class="profile-image-two">


                            </div>
                            <!-- <div *ngIf="isMyProfile; else NotMyProfile" style="text-align: center;"></div> -->

                            <!-- <ng-template #NotMyProfile>
                                <button (click)="contactSeller()">
                                    Message
                                </button>
                            </ng-template> -->

                            <!-- *ngIf="!edit" -->

                            <div style="width: 10%; word-break: break-all; white-space: normal;">

                                <label for="userName">Username: <h6>{{user?.userName}}</h6></label>

                                <label for="name">Name: <h6 class="" aria-hidden="true"> {{user?.fullName}}</h6></label>

                                <label for="userName">Age: <h6>{{user?.age}}</h6></label>

                            </div>

                            <div style="width: 20%; margin: 0% 0% 0% 1.5%; word-break: break-all; white-space: normal;">

                                <label for="userName">Email: <h6>{{user?.email}}</h6></label>

                                <label for="userName">Address: <h6>{{user?.address}}</h6></label>


                            </div>

                            <div *ngIf="isMyProfile; else NotMyProfile" style="text-align: center;"></div>

                            <ng-template #NotMyProfile>
                                <button class="btn btn-sm btn-mdb-color z-depth-0" style="height: 11%;" (click)="contactSeller()">
                                    Message
                                </button>
                            </ng-template>

                            <button class="btn btn-sm btn-mdb-color z-depth-0" style="height: 11%;" aria-hidden="true" (click)="updateProfile()">Edit</button>
                            <!-- <div *ngIf="edit" style="">
                                <form [formGroup]="profileForm">
                                    <div class="form-group">
                                        <label for="userName">Username:</label>

                                        <input matInput type="text" id="userName" formControlName="userName" [(ngModel)]="_userModel.userName" style="max-width: 100%; max-height: 100%;">

                                    </div>
                                    <div class="form-group">
                                        <label for="name">Name:</label>

                                        <input matInput type="text" id="fullName" formControlName="fullName" [(ngModel)]="_userModel.fullName" name="fullName" style="max-width: 100%; max-height: 100%;">

                                    </div>
                                    <button (click)="$event.preventDefault(); updateProfile(profileForm.value)" class="btn btn-default">Submit</button>
                                </form>
                            </div> -->
                            <!-- <div *ngIf="!edit"> -->
                            <!-- </div> -->
                        </div>

                    </div>

                </div>

            </div>


            <hr>
            <!--Quotation-->
            <p class="dark-grey-text">Public Key: {{_userModel?.publicKey}}</p>
            <h4>My Balances</h4>
            <ul>
                <li *ngFor="let bal of balances">
                    {{ bal?.balance }} {{ bal?.asset_type }}
                </li>
            </ul>
        </div>

    </div>

    <hr>
    <!--Card-->

    <!-- Bottom section consisting of Your listings and order history -->

    <button class="btn btn-primary z-depth-0" aria-hidden="true"
            (click)="goToAddProductpage()"
            [disabled]="!hasAddress" style="width: 100%">
        List New Product
    </button>
    <mat-tab-group primary style="margin-bottom: 5%;">
        <mat-tab label="My Listings">
            <!-- <div style="align-items: center; justify-content: center;">
                (click)="addProduct()"
                <button class="btn btn-primary z-depth-0" aria-hidden="true"
                        (click)="goToAddProductpage()"
                        [disabled]="!hasAddress" style="width: 100%">
                    List New Product
                </button>
            </div> -->
            <div style="display: inline-block; width: 20%; height: 100%; margin: auto; cursor: pointer;" *ngFor="let prod of products | async">
                <div class="card card-ecommerce z-depth-1" style="margin: 2% 2% 2% 2%;">
                    <!--Card image-->
                    <div class="view overlay z-depth-1">
                        <a><img src="{{ (prod) ? prod?.productThumbnailLink : '' }}" class="img-fluid" alt="missing imagfwe"
                          style="max-width:100%; max-height: 100%; width: 10em; height: 10em; margin: auto; display: block;"></a>
                    </div>
                    <!--/.Card image-->
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Category & Title-->
                        <h4 class="card-title">
                            <strong>{{ prod?.productName }}</strong>
                        </h4>
                        <!--Description-->
                        <p class="card-text">
                            {{ prod?.productShortDescription }}
                        </p>
                        <!--Card footer-->
                        <div class="card-footer" style="height: 3em; width: 100%;">
                            <span class="float-left">Price ${{ product?.fixedUSDAmount }}
                                <span class="discount">Quantity: {{ product?.quantity }}</span>
                            </span>
                        </div>
                    </div>
                    <!--/.Card content-->
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Seller History">

            <div class="card" style="margin: 1%; padding: 2%;" *ngFor="let transaction of transactionSales | async">

              <h4> Order ID: {{ transaction?.transactionID }} </h4>
              <hr>
              <p> Product Name: {{ transaction?.productName }} </p>
              <p> Quantity: {{ transaction?.quanitityPurchased }} </p>
              <p> Category: {{ transaction?.productCategory }} </p>
              <p> Price: {{ transaction?.assetPurchaseDetails.balance }} {{ transaction?.assetPurchaseDetails.coin_name }} ({{ transaction?.fixedUSDAmount }} USD) </p>

            </div>

            <hr>
        </mat-tab>
        <mat-tab label="Order History">

          <!-- <div class="card" style="margin: 1%; padding: 2%;" *ngFor="let order of orders | async">

            <p> Order Number: {{ order?.orderID }} </p>
            <p> Product Name: {{ order?.productName }} </p>
            <p> Quantity: {{ order?.quanitityPurchased }} </p>
            <p> Category: {{ order?.productCategory }} </p>
            <p> Price: {{ order?.assetPurchaseDetails.balance }} {{ order?.assetPurchaseDetails.coin_name }} ({{ order?.fixedUSDAmount }} USD) </p>

          </div> -->

          <div class="card"*ngFor="let order of orders | async" style="margin: 2%; padding: 2%;">
            <h4>Order ID: {{ order?.orderID }}</h4>
            <hr>
            <div class="" style="padding: 0% 5% 0% 5%;" *ngFor="let group of order?.transactionsGroups; index as i" [attr.data-index]="i">
              <div>
                  <h5> Transaction Group: {{ i + 1 }}  </h5>
                  <p> ID: {{ group?.transactionGroupID }}  </p>
                  <p> Seller Public Key: {{ group?.sellerPublicKey }}  </p>

              </div>
              <div style="margin: auto; width: 20%;" *ngFor="let transRecord of group.transactionRecords; index as j" [attr.data-index]="j">
                  <!-- TODO: image??? -->
                  <!-- <img [src]="transRecord?.productName" /> -->
                  <h6> Transaction Number: {{ j + 1 }}  </h6>
                  <!-- <p> Transaction ID: {{ transRecord?.transactionID }}  </p> -->
                  <p> Product Name: {{ transRecord?.productName }}  </p>
                  <!-- <p> Product Description: {{ transRecord?.productShortDescription }}  </p> -->
                  <!-- <p> Product ID: {{ transRecord?.productID }}  </p> -->
                  <p> Quantity: {{ transRecord?.quantityPurchased }}  </p>
                  <!-- <p> Memo:  {{ transRecord?.memo  }}  </p> -->
                  <!-- <p> USD Amount:  $ {{ transRecord?.fixedUSDAmount | json }}  </p> -->
                  <p> Price: {{ transRecord?.assetPurchaseDetails.balance }} {{ transRecord?.assetPurchaseDetails.coin_name }} (${{ transRecord?.fixedUSDAmount | json }})  </p>

              </div>
              <hr>
            </div>

          </div>

            <!-- <div class="card" *ngFor="let order of orders | async">
                {{ order | json }} AAAA
            </div> -->
        </mat-tab>
    </mat-tab-group>




    <!--Grid column-->

    <!-- <div style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-mat-4">
                <mat-card>
                    <div class="profile-image" style="background-color: grey; width: 8em; height: 8em; margin: auto;">
                      Image Here (placeholder)
                        <img class="main-profile-pic" src="{{_userModel?.photoUrl}}" />
                    </div>
                    <div class="profile-image-two">

                    </div>
                    <mat-card-content *ngIf="!edit">
                        <h2>Username: {{_userModel?.userName}}</h2>
                        <ul>
                            <li>
                                <i class="fa fa-envelope" aria-hidden="true"></i> Public Key: {{_userModel?.publicKey}}
                            </li>
                            <li>
                                <i class="fa fa-github" aria-hidden="true"></i> Name: {{_userModel?.fullName}}
                            </li>
                        </ul>
                    </mat-card-content>
                    <mat-card-content *ngIf="edit">
                        <form [formGroup]="profileForm" >
                            <div *ngFor="let prop of Object.keys(profileForm)" class="form-group">
                                    <p>aaaa</p>
                            </div>
                            <div class="form-group">
                                <label for="userName">Username</label>
                                <mat-input-container>
                                    <input matInput type="text" id="userName" formControlName="userName"
                                    [(ngModel)]="_userModel.userName">
                                </mat-input-container>
                            </div>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <mat-input-container>
                                    <input matInput type="text" id="fullName" formControlName="fullName"
                                    [(ngModel)]="_userModel.fullName" name="fullName">
                                </mat-input-container>
                            </div>
                            <button (click)="$event.preventDefault(); updateProfile(profileForm.value)" mat-raised-button >Submit</button>
                            <input type="submit" class="button expanded" value="Update Profile">

                        </form>
                        <a href="https://github.com/{{userModel.gitUsername}}"> git link </a>
                    </mat-card-content>
                    <mat-card-footer *ngIf="!edit">
                        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" (click)="editProfile()"></i>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>

</div> -->

    <!-- <br />
<button mat-raised-button (click)="sessionstorage()">temp </button> -->

    <!-- <div class="well well-lg">
    <div *ngFor="let addr of profileForm">
      {{ addr }}
    </div>
  </div> -->


    <!-- <form novalidate [formGroup]="profileForm">
        Name: <input type="text" formControlName="name">
        Location: <input type="text" formControlName="location">
        <button  (click)="updateProfile(myGroup); $event.preventDefault(); " class="btn btn-primary"> Submit</button>
      </form> -->

    <!-- <form [formGroup]="profileForm">
    <div class="form-group">
      <label class="center-block">Name:
        <input class="form-control" formControlName="name">
      </label>
    </div>
  </form>

  <p>Form value: {{ profileForm.value | json }}</p>
   -->


    <!--
<form class="form-horizontal" [formGroup]="form">

        <div class="form-group">
          <div class="col-sm-12">
            <label for="email" class="control-label">Email</label>
            <input type="text" id="email" class="form-control" formControlName="email">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <label for="password" class="control-label">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
          </div>
        </div>

        <button class="btn btn-primary" (click)="$event.preventDefault(); updateProfile(form.value)">Submit</button>
      </form>
   -->
