<div class="container">
    <div class="row">
        <ng-container *ngIf="cartItemsSource | async; let cartItemList">
            <span *ngIf="cartItemList.length > 0; then isCartItems; else emptyCart"> </span>
            <ng-template #isCartItems>
                <div class="col-12 col-md-10" style="min-width: 800px;">

                  <div class="row row-bottom-margin">
                    <h5> My Cart <small> ({{ cartItemList.length }} item{{ cartItemList.length > 0 ? 's' : '' }})</small> </h5>
                  </div>

                  <div class="row row-bottom-margin" >
                    <div class="card col-12 z-depth-0" 
                        style="width: 102.2%; display: inline-flex; flex-direction: row;
                                align-items: center; margin: 0em 0em .1em 0em; border: 1px solid rgb(224,224,244);
                                border-radius: 3px 3px 0px 0px">

                      <div class="col-2" style="display: block; margin: auto; height: 90%;">
                      </div>

                      <div class="col-6" style="display: flex; flex-direction: row; margin: 0% 0em 0em 0%;">

                        <div style="width: 25%">
                          <h6 style="margin: 0% 0% 0% -10px;"> Title</h6>
                        </div>

                        <div style="width: 25%">
                          <h6 class="" style="margin: 0% 0% 0% 0%;">Quantity</h6>
                        </div>

                        <div style="width: 25%">
                          <h6 class="" style="margin: 0% 0% 0% 0%;">$USD</h6>
                        </div>

                        <div style="width: 25%">
                            <h6 class="" style="margin: 0% 0% 0% 0%;"> Asset</h6>
                            </div>
                      </div>

                      <div class="col-3"> Actions</div>
                    </div>
                  </div>

                  <div class="row row-bottom-margin">
                    <mat-spinner [hidden]="loading"></mat-spinner>
                    <div class="col-12 card z-depth-0" [style.visibility]="(loading) ? 'visible' : 'hidden'"
                            style="height: 500px; background-color: rgb(244,244,244); border: 1px solid rgb(224,224,244); border-radius: 0px 0px 3px 3px; border-top: none;">
                      <div *ngFor="let product of cartItemList" style="margin: 0em 0em 0px 0em;">
                          <app-cart-item-card [cartItem]="product" (notify)="onCartItemAction($event)"></app-cart-item-card>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-2 text-nowrap" id="assetTotals" style="margin: -.3% 0% 0% 0%;">
                    <!-- width:400 px;  -->
                    <h6 style="display: flex; margin: 10% 0em 0em 0em;"> Cart Subtotals </h6>
                    <div class="card z-depth-0" style="height: 20%; width: 100%; min-width: 150px; border: 1px solid rgb(224,224,244); overflow: hidden;">
                        <div *ngFor="let asset of assetTotals " style="margin: 5% 0em 0em 5%;">
                                {{ asset?.balance }} {{ asset?.coin_name }} ({{ asset?.asset_type }})
                            <br />
                        </div>
                        <!-- <button type="button" (click)="recalculateTotals()" class="btn btn-default btn-sm z-depth-0"> Recalculate </button> -->
                    </div>
                    <!-- width:400 px;  -->
                    <h6 class="text-nowrap" style="display: flex; margin: 1em 0em 0em 0em;"> Cart Options </h6>
                    <div class="card z-depth-0 text-nowrap" style="border: 1px solid rgb(224,224,244); min-width: 150px;">
                        <button (click)="proceedToCheckout()" class="btn btn-primary btn-sm z-depth-0"> Buy All </button>
                        <button (click)="checkoutSelectedItems()" class="btn btn-blue-grey btn-sm z-depth-0"> Buy Selected </button>
                        <button (click)="removeSelectedItems()" class="btn btn-blue-grey btn-sm z-depth-0"> Remove Selected </button>
                        <button (click)="emptyOutCart()" class="btn btn-mdb-color btn-sm z-depth-0"> Empty Cart </button>
                    </div>
                </div>
            </ng-template>
        </ng-container>
        <ng-template #emptyCart>
            <div class="col-12 offset-md-3 col-md-6">
                <h2 class="text-nowrap" style="display: flex;"> Empty Cart </h2>
                <div class="card z-depth-0" style="text-align: center; border: 1px solid rgb(224,224,244);">
                    <h3>Find products</h3>
                    <p> It seems your cart is empty, why not checkout recent products </p>
                    <button class="btn btn-primary btn-sm z-depth-0" (click)="changePage('categories')" [routerLink]="['/categories']"> Categories </button>
                </div>
            </div>
        </ng-template>
    </div>
</div>



<!-- <div class="container">
    <div class="row" >
        <ng-container *ngIf="cartItemsSource | async; let cartItemList">
        <div class="col-12 col-md-7">
            <h1> My Cart </h1>
            <div *ngIf="cartItemList.length > 0" *ngFor="let product of cartItemList">
                <cart-item-card [cartItem]="product" (notify)="onCartItemAction($event)"></cart-item-card>
            </div>
        </div>
        <div class="col-12 offset-md-2 col-md-2 text-nowrap" id="assetTotals" >
            <div *ngIf="cartItemList.length > 0" >
                <h2 style="width:400 px; display: flex;"> Cart Asset Totals </h2>
                <mat-card class="example-card" style="width:550px;">
                    <div *ngFor="let asset of assetTotals">
                        {{ asset?.amount }} {{ asset?.asset_type }}
                    </div>
                </mat-card>
            </div>

            <br />
            <div>
        </div>
        </ng-container>
    </div>
</div>
 -->

<!-- <span *ngIf="cartItemsSource; then isCartItems; else emptyCart"> </span> -->
<!-- <ng-template *ngIf="cartItemList.length > 0" #isCartItems>
                    <h2 class="text-nowrap" style="width:400 px; display: flex;"> Cart Options </h2>
                    <mat-card class="example-card" style="width:550px;">
                        <button mat-button (click)="proceedToCheckout()"> Proceed to Checkout </button>
                        <button mat-button (click)="emptyOutCart()"> Empty Cart </button>
                    </mat-card>
                </ng-template>
                <ng-template *ngIf="cartItemList.length === 0" #emptyCart>
                        <h2 class="text-nowrap" style="width:400 px; display: flex;"> Empty Cart
                        </h2>
                        <mat-card class="example-card" style="width:550px;">
                                <p> It seems your cart is empty, why not checkout recent products </p>
                                <button mat-button style="width:550px;" (click)="navigateToAllProducts()"> Products </button>
                        </mat-card>
                </ng-template> -->
