<div class="jumbotron col-12 offset-2 col-md-8 white">
    <img src="{{ product?.productThumbnailLink }}" style="width: 10em; height: 10em" alt="alt">
    <h1 class="h1-responsive">{{ product?.productName }}</h1>
    <p class="lead">{{ product?.productLongDescription }}</p>
    <hr class="my-2">
    <p>Price: ${{ product?.fixedUSDAmount }} </p> <p> Quantity {{ product?.quantity }} </p>
    <div *ngIf="!isMyProduct;" style="margin: 0em 0em 2em 0em;">
        <div>
            <input matInput type="number" id="purchaseQuantity" placeholder="Quantity" style="width: 20%;" 
                    [(ngModel)]="purchaseQuantity"  min="1" [max]="product?.quantity">
        </div>
        <br/>
        <mat-select id="assetSelectionType" class="asset" placeholder="Asset Type" style="width: 20%;" [(ngModel)]="selectedAssetType">
            <mat-option *ngFor="let type of product?.productPrices" [value]="type">
                Price: {{ type.balance }} {{ type.coin_name }} ({{ type.asset_type }})
            </mat-option>
        </mat-select>
    </div>
    <div>
      <span *ngIf="!isMyProduct; then notMyProduct; else myProductBlock"> </span>
      <ng-template #notMyProduct>
        <button class="btn btn-primary btn-lg" [disabled]="!isLoggedIn && isInStock" role="button" (click)="onBuyProduct()">Buy Product</button>
        <button class="btn btn-primary btn-lg" [disabled]="!isLoggedIn && isInStock" role="button" (click)="addProductToCart()">Add-to-Cart</button>
        <button class="btn btn-primary btn-lg" [disabled]="!isLoggedIn && isInStock" role="button" (click)="addProductAndGoToCart()">Add-and-Go-to-Cart</button>
      </ng-template>
      <ng-template #myProductBlock>
          <button (click)="editProduct()" class="btn btn-mdb-color btn-lg"> Edit </button>
          <button (click)="deleteProduct()" class="btn btn-mdb-color btn-lg"> Delete </button>
      </ng-template>
    </div>
</div>

<!-- <p>
  welcome to {{ product?.productName }}
</p> -->

<!-- <div style="width:200 px;">
    <mat-card class="example-card">
            <img mat-card-image src="{{ product?.productThumbnailLink }}" style="width:150px; height: 150px" alt="alt">
        <mat-card-header >
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> Item Name: {{ product?.productName }} </mat-card-title>
            <mat-card-subtitle> USD Value: ($) {{ product?.fixedUSDAmount }}</mat-card-subtitle>
            <mat-card-subtitle> Quantity: {{ product?.quantity }}</mat-card-subtitle>
            <mat-card-subtitle> {{ product?.subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <br/>
        <mat-card-content>
            <p> Description: {{ product?.productLongDescription }} </p>
            <div *ngIf="!isMyProduct;">
                <label for="purchaseQuantity"> Select Quantity: </label>
                <mat-input-container>
                    <input matInput type="number" id="purchaseQuantity" [(ngModel)]="purchaseQuantity">
                </mat-input-container>
                <br/>
                <mat-select id="assetSelectionType" class="asset" placeholder="Asset Type" [(ngModel)]="selectedAssetType">
                    <mat-option *ngFor="let type of product?.productPrices" [value]="type">
                        Price: {{ type.balance }} {{ type.asset_type }} 's
                    </mat-option>
                </mat-select>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <span *ngIf="!isMyProduct; then notMyProduct; else myProductBlock"> </span>
            <ng-template #notMyProduct>
                <button mat-button (click)="onBuyProduct()"> Buy Product </button>
                <button mat-button (click)="addProductToCart()"> Add-to-Cart </button>
                <button mat-button (click)="addProductAndGoToCart()"> Add-and-Go-to-Cart </button>
            </ng-template>
            <ng-template #myProductBlock>
                <button mat-button (click)="editProduct()"> edit product </button>
                <button mat-button (click)="deleteProduct()"> delete product </button>
            </ng-template>
        </mat-card-actions>
    </mat-card>
</div> -->
