<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<br />
<br />
<br />
<br />

<label> Publlic key {{ pubKey }}</label>
<!-- balances -->
<div>
  <h1>My Balances</h1>
  <ul>
    <li *ngFor="let bal of balances">
      {{ bal.balance }} {{ bal.asset_type }} 
    </li>
  </ul>
</div>
<!-- end balances -->

<input #privKeyBox type="text" > <!-- [(ngModel)]="_privKey"  -->
<button (click)="createAccount()"> make account </button>
<button (click)="authenticate(privKeyBox.value)"> check balance </button>
<br />

<input #sendMoneyAddress type="text" placeholder="address"> 
<input #sendMoneyType type="text" placeholder="asset type"> 
<input #sendMoneyAmount type="text" placeholder="amount"> 
<input #sendMoneyMemo type="text" placeholder="memo"> 
<button (click)="sendPayment(sendMoneyAddress.value, sendMoneyType.value, 
                sendMoneyAmount.value, sendMoneyMemo.value)"> 
        send money 
</button>

<!-- SAS63NV6NEIP6DQVCIR2AYCGMSUMGQVMJBUCWXIWVBS6JVQOSTXDK2YV -->
<!-- GCVLMM6H4SRWUSXI6ZNV7WCYEQEOTXW6DPOPZDLWOAGJIV53UKOXBNJB -->
<!-- SDMD67UHGJ7R72ASQJL32OUJUWWOQQF3D5MCRC6OXIMG2IICWULQBOSE
GCDUP6Z5FNQK4QEPKT534R2ROUQSIM7VP532OC3REIMACBRXNX44U4XK

GDGBTSMUSTHKK2E7NBBNQ33Q2XBK4CCYJZZFHKSCDWIWXODQCQU4DJC2


SCYQVVSG2G4LUOQX4LQ2EF4DKWOZ6E5YEKC6USNUWKN55337RNUYSCGI
GBG3WGOC2S7BAUALQSPRVRHYRB677PZH6JFLTY5KPKZ7DLZFRBMXMYO3 -->

<!-- 
SDLI5ARZU5RNKG5X2TXEH6T74BA352NUJTDJLR7OR7YSYUB7WS7WWRLA 
GCQUN3ZEQOI6ENJCXJBMZZRYBCES6PXLOSD6PICGS5QR6GLC7TIFWZWU -->