<!-- <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script> -->

<span class="top-space"></span>
<div class="nav-spacing"> <!-- style="position: fixed;"" -->
    <!-- <md-toolbar class="bottom-nav">
        <button md-button [routerLink]="['/posts']" routerLinkActive="active">
            POSTS
        </button>
        
        <button md-button [routerLink]="['/people']" routerLinkActive="active">
            PEOPLE
        </button>
        <button md-button [routerLink]="['/projects']" routerLinkActive="active">
            PROJECTS
        </button>
    </md-toolbar> -->
    <div class="navbar">
        <div class="container">
            <mat-toolbar class="main-nav">
                <button md-raised-button id="home" [routerLink]="['/home']" 
                    (click)="changePage('home')" routerLinkActive="active"
                    class="main-nav-button">
                    Home
                </button>
                <!-- *ngIf="loggedIn"   [routerLink]="['/profile', user.uid]"   -->
                <button md-raised-button id="profile" [routerLink]="['/profile']" 
                        (click)="changePage('profile')" routerLinkActive="active"
                        class="main-nav-button">
                    Profile
                </button> 
                <button md-raised-button id="categories" (click)="changePage('categories')" 
                        [routerLink]="['/categories']" routerLinkActive="active"
                    class="main-nav-button">
                    Categories
                </button>
                <span class="example-fill-remaining-space"></span> 
                <div style="float:right;">                
                    <!-- (click)="toggle(sidenav)" -->
                    <button *ngIf="!loggedIn" md-raised-button id="register" [routerLink]="['/register']" 
                        (click)="changePage('register')" routerLinkActive="active"
                        class="main-nav-button">
                        Signup or Register
                    </button>
                    <button md-raised-button *ngIf="!loggedIn" (click)="toggle(sidenav)" class="main-nav-button"> 
                        Login
                    </button>
                    <button md-raised-button class="main-nav-button" *ngIf="loggedIn" (click)="logout()"> 
                        Logout 
                    </button> 
                    <!-- <button md-raised-button class="main-nav-button"> 
                        <span (click)="toggle(sidenav)" *ngIf="!loggedIn; else logswitch"> Login </span>
                        <ng-template #logswitch> <span (click)="logout()"> Logout </span> </ng-template>
                    </button> -->
                </div>
            </mat-toolbar>
        </div>
    </div>
    <!-- <mat-sidenav-layout mode="over">  -->
        <mat-sidenav #sidenav align="end" class="app-sidenav" style="float: right;">   <!-- right: 10%; -->
                <button type="button" mat-button (click)="toggle(sidenav)">
                        Hide
                </button>
                <h1> login with secret key </h1>
                <input #secretKeyLogin type="text" required/>
                <br />
                <button (click)="login(secretKeyLogin.value); secretKeyLogin.value = null;" style="color:black">login now</button>
                <!-- <h2> Sign up or merge your existing stellar account </h2>
                <button (click)="signUp()"> Signup now </button> -->
            </mat-sidenav>
    <!-- </mat-sidenav-layout> -->
</div>
