<!-- <p>{{ title }} _ {{ content }} </p>

<button type="button" md-raised-button 
    (click)="dialogRef.close(true)">OK</button>
<button type="button" md-button 
    (click)="dialogRef.close()">Cancel</button> -->

<h1 md-dialog-title class="primary-color"> {{ title }}</h1>
<mat-dialog-content class="accent-color">
    {{ content }}
    <ng-template [cdkPortalOutlet]="portal"></ng-template>
</mat-dialog-content>
<button type="button" md-raised-button 
    (click)="dialogRef.close(true)">OK
</button>

<!-- <router-ou -->