/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css';
*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
/* @import '~https://fonts.googleapis.com/icon?family=Material+Icons'; */


 /* TODO: what are these */
@import 'https://fonts.googleapis.com/css?family=Kanit';
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* @import url('https://fonts.googleapis.com/css?family=Kanit'); */
/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

/* .mat-horizontal-stepper-header{
    pointer-events: none !important;
} */

body {
    background: rgb(250, 250, 250);
    transition:all 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif;
}

li, p, label {
    font-family: 'Helvetica', sans-serif;
}

.row {
    margin-bottom: 50px;
}

mat-ink-bar.mat-ink-bar {
    background-color: #1b3039;
}

.mat-tab-label {
    width: 50%;
    font-size: 16px;
}

.mat-tab-label:focus {
    background-color: rgba(0, 0, 255, 0.3);
}

.form-full-width {
    width: 100%;
}

.form-half-width {
    width: 50%;
}

mat-card {
    border-top: 2px solid #445963;
}

.mat-input-ripple {
    background-color: #708690;
}

button {
    background-color: #60ac5d;
    font-family: 'Helvetica', sans-serif;
}

.post-top {
    text-align: center;
    font-weight: 500;
    padding-top: 4px;
    height: 30px;
    background-color: #445963;
    width: 175px;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    color: white;
    border-radius: 5px 5px 0 0;
}
