<!-- <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script> -->

<span class="top-space"></span>
<div class="nav-spacing"> <!-- style="position: fixed;"" -->
    <!-- <md-toolbar class="bottom-nav">
        <button md-button [routerLink]="['/posts']" routerLinkActive="active">
            POSTS
        </button>
        
        <button md-button [routerLink]="['/people']" routerLinkActive="active">
            PEOPLE
        </button>
        <button md-button [routerLink]="['/projects']" routerLinkActive="active">
            PROJECTS
        </button>
    </md-toolbar> -->
    <div class="navbar">
        <div class="container">
            <mat-toolbar class="main-nav">
                <button md-raised-button id="home" [routerLink]="['/home']" 
                    (click)="changePage('home')" routerLinkActive="active"
                    class="main-nav-button">
                    Home
                </button>
                <!-- *ngIf="loggedIn"   [routerLink]="['/profile', user.uid]"   -->
                <button md-raised-button id="profile" [routerLink]="['/profile']" 
                        (click)="changePage('profile')" routerLinkActive="active"
                        class="main-nav-button">
                    Profile
                </button> 
                <button md-raised-button id="products" [routerLink]="['/products']" 
                    (click)="changePage('products')" routerLinkActive="active"
                    class="main-nav-button">
                    Products
                </button>
                <!--  <span class="example-fill-remaining-space"></span>  -->
                <div style="float:right;">                
                    <!-- (click)="toggle(sidenav)" -->
                    <button md-raised-button class="main-nav-button"> 
                        <span (click)="login()" *ngIf="!loggedIn; else logswitch"> Login / Signup </span>
                        <ng-template #logswitch> <span (click)="logout()"> Logout </span> </ng-template>
                    </button>
                </div>
            </mat-toolbar>
        </div>
    </div>
    <!-- <mat-sidenav-layout mode="over"> 
        <mat-sidenav #sidenav align="end" class="app-sidenav" style="float: right;">  right: 10%;
                <button type="button" mat-button (click)="toggle(sidenav)">
                        Hide
                </button>
                <h1> login or sign up </h1>
                <p> Enter public key </p>
                <input />
                <br />
                <button (click)="login()">login now</button>
                <button (click)="createAccount()">signup now</button>
            </mat-sidenav>
    </mat-sidenav-layout> -->
</div>
